body { background: #d51565; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-notify-0 { color: #15625a; font-size: 19px; margin-bottom: 5px; }
.block-uploader-1 { color: #547826; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #29682f; font-size: 21px; margin-bottom: 5px; }
.block-user-3 { color: #17612d; font-size: 16px; margin-bottom: 5px; }
.block-helper-4 { color: #da867b; font-size: 15px; margin-bottom: 5px; }
.block-sms-5 { color: #e64523; font-size: 19px; margin-bottom: 5px; }
.block-helper-6 { color: #d0fe54; font-size: 12px; margin-bottom: 5px; }